a {
    color: white;
    text-decoration: none;
}

.icon-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-icon {
    margin-right: 3px;
}

.container {
    margin: 10px;
}