<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list  fxLayout="column" fxLayoutAlign="start">
            <a routerLink="./listado"
                mat-list-item
                (click)="sidenav.toggle()">
                <div class="icon-text-container">
                    <mat-icon mat-list-icon>label</mat-icon>
                    <span>Listado de Héroes</span>
                </div>
            </a>

            <a routerLink="./agregar"
                mat-list-item
                (click)="sidenav.toggle()">
                <div class="icon-text-container">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>Añadir Héroe</span>
                </div>
            </a>

            <a routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">
                <div class="icon-text-container">
                    <mat-icon mat-list-icon>search</mat-icon>
                    <span>Buscar Héroe</span>
                </div>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>